html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

[class^="block-"] {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.fill [class^="block"] {
  padding-right: 0;
  padding-left: 0;
}

.block-xs-1 {
  width: 8.33333%;
}

.block-xs-2 {
  width: 16.66667%;
}

.block-xs-3 {
  width: 25%;
}

.block-xs-4 {
  width: 33.33333%;
}

.block-xs-5 {
  width: 41.66667%;
}

.block-xs-6 {
  width: 50%;
}

.block-xs-7 {
  width: 58.33333%;
}

.block-xs-8 {
  width: 66.66667%;
}

.block-xs-9 {
  width: 75%;
}

.block-xs-10 {
  width: 83.33333%;
}

.block-xs-11 {
  width: 91.66667%;
}

.block-xs-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .block-sm-1 {
    width: 8.33333%;
  }

  .block-sm-2 {
    width: 16.66667%;
  }

  .block-sm-3 {
    width: 25%;
  }

  .block-sm-4 {
    width: 33.33333%;
  }

  .block-sm-5 {
    width: 41.66667%;
  }

  .block-sm-6 {
    width: 50%;
  }

  .block-sm-7 {
    width: 58.33333%;
  }

  .block-sm-8 {
    width: 66.66667%;
  }

  .block-sm-9 {
    width: 75%;
  }

  .block-sm-10 {
    width: 83.33333%;
  }

  .block-sm-11 {
    width: 91.66667%;
  }

  .block-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }

  .block-md-1 {
    width: 8.33333%;
  }

  .block-md-2 {
    width: 16.66667%;
  }

  .block-md-3 {
    width: 25%;
  }

  .block-md-4 {
    width: 33.33333%;
  }

  .block-md-5 {
    width: 41.66667%;
  }

  .block-md-6 {
    width: 50%;
  }

  .block-md-7 {
    width: 58.33333%;
  }

  .block-md-8 {
    width: 66.66667%;
  }

  .block-md-9 {
    width: 75%;
  }

  .block-md-10 {
    width: 83.33333%;
  }

  .block-md-11 {
    width: 91.66667%;
  }

  .block-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .block-lg-1 {
    width: 8.33333%;
  }

  .block-lg-2 {
    width: 16.66667%;
  }

  .block-lg-3 {
    width: 25%;
  }

  .block-lg-4 {
    width: 33.33333%;
  }

  .block-lg-5 {
    width: 41.66667%;
  }

  .block-lg-6 {
    width: 50%;
  }

  .block-lg-7 {
    width: 58.33333%;
  }

  .block-lg-8 {
    width: 66.66667%;
  }

  .block-lg-9 {
    width: 75%;
  }

  .block-lg-10 {
    width: 83.33333%;
  }

  .block-lg-11 {
    width: 91.66667%;
  }

  .block-lg-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=responsive.css.map */
